*{
    margin: 0px;
    padding: 0px;
}
video{
    width: auto;
    height:auto;
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    z-index: 0;
}
body{
    font-family: Montserrat;
}
.brown{
    background-color: #634a30;
    margin-top: -4px;
    height: 300px;
    padding-top: 50px;
}

.full{
    width: 100%;
}
.wrapper {
    width: 960px;
    margin: 0 auto;
}
.clearfix{
    overflow: hidden;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.remove-bullet{
    list-style: none;
}
.uppercase
{
    text-transform: uppercase;
}
.overlay{
    width: auto;
    height:auto;
    min-height: 106%;
    min-width: 100%;
    max-height: 106%;
    max-width: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgba(0,0,0,.7);
    top: 0%;
}
.adjustment{
    top: 220px;
    position: absolute;
}
.pos-rel{
    position: relative;
    height: 540px;
}
.center{
    text-align: center;
}

.feed{
    width: 100%;
    background-color: #eee;
    height: 800px;
}
.relative{
    position: relative;
}
.autoheight{
    height: auto;
}

header{
    top: 50px;
    position: absolute;

}
header > div > ul > li:first-child{
    float: left;
    left: 0px;
}
header > div > ul > li:nth-child(n+3){
    float: right;
    margin-top: 7%;
    margin-left: 3%;
    font-size: 13px;
}
header > div > ul > li:nth-child(2){
    float: right;
    text-align: right;
    font-size: 13px;
    margin-left: 3%;
}
header > div > ul > li:last-child{
    color: #00cccc;
}
header > div > ul > li > ul > li:nth-child(2){
    background-color: #00cccc;
    padding: 16px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
    margin-top: 26%;

}
header > div > ul > li > ul > li:first-child{
    margin-right: 10%;
}

body > div > div:nth-child(2) > div > ul > li:first-child{
    color: white;
    font-size: 60px;
    margin-bottom: 20px;
}
body > div > div:nth-child(2) > div > ul > li:nth-child(2){
    width: 50px;
    border-color: #00cccc;
    border-width: 4px 0 0 0;
    border-style: solid none none none;
    margin-left: 47.5%;
    margin-bottom: 20px;
}
body > div > div:nth-child(2) > div > ul > li:nth-child(3){
    color:  #00cccc;
    font-size: 25px;
}
body > div > div:nth-child(2) > div > ul > li:last-child{
    width: 50px;
    height: 50px;
    background-color: #00cccc;
    border-width: 0px;
    border-radius: 50%;
    margin-top: 22%;
    margin-left: 47.5%;
}
body > div:nth-child(3) > div > ul > li{
    display: inline-block;
}
body > div:nth-child(3) > div > ul > li:first-child{
    width: 60%;
}
body > div:nth-child(3) > div > ul > li:first-child > ul > li:first-child{
    color: #29a3a3;
    font-size: 12px;
}
body > div:nth-child(3) > div > ul > li:first-child > ul > li:nth-child(2){
    color: #00cccc;
    font-size: 18px;
    margin-bottom: 20px;
}

body > div:nth-child(3) > div > ul > li:first-child > ul > li:nth-child(3){
    color: white;
    font-size: 12px;
    margin-bottom: 20px;
}
body > div:nth-child(3) > div > ul > li:first-child > ul > li:last-child{
    color: gray;
    font-size: 12px;
}
body > div:nth-child(3) > div > ul > li:last-child{
    width: 33%;
    margin-left: 50px;
}

body > div:nth-child(3) > div > ul > li:last-child > ul > li:nth-child(-n+3) > input{
    margin-bottom: 10px;
    background-color: #ccc;
    border: none;
    width: 280px;
    height: 45px;
    padding-left: 10px;
    font-size: 12px;
}
body > div:nth-child(3) > div > ul > li:last-child > ul > li:last-child > input{
    margin-bottom: 10px;
    background-color: #00cccc;
    border: none;
    width: 290px;
    height: 45px;
    font-size: 12px;
    text-align: center;
    color: white;
}
body > div:nth-child(4) div > img:first-child{
    position: absolute;
    left: -797px;
}

body > div:nth-child(4) > div > img:nth-child(3){
    position: absolute;
    left: 162px;
}
body > div:nth-child(4) > div > img:nth-child(2){
    position: absolute;
    left: 1115px;

}
body > div:nth-child(5) > img:nth-child(n+0){
    width: 25%;
    position: absolute;
}
body > div:nth-child(5) > img:first-child{
    left:0%;
    position: absolute;
}
body > div:nth-child(5) > img:nth-child(2){
    left:25%;
}
body > div:nth-child(5) > img:nth-child(3){
    left:50%;
}

body > div:nth-child(5){
    background-color: #634a30;
    position: relative;
    height: 180px;

}
body > div:nth-child(6) > div > h5{
    margin-top: 65px;
}
body > div:nth-child(6) > div > ul > li:nth-child(n+0){
    width: 20%;
    margin-left: -2.5px;
    margin-right: -2.5px;
    display: inline-block;
    height: 30px;
    padding-top: 10px;
    text-align: center;
}
body > div:nth-child(6) > div > ul > li:first-child{
    background-color: #3a3a3a;
    color: white;
}
body > div:nth-child(6) > div > ul > li:nth-child(2){
    background-color: #5656ff;
}
body > div:nth-child(6) > div > ul > li:nth-child(3){
    background-color: #56bbff;
}
body > div:nth-child(6) > div > ul > li:nth-child(4){
    background-color: #ed2929;
}
body > div:nth-child(6) > div > ul > li:last-child{
    background-color: #757684;
}

.border{
    border: 1px red solid;
}
.white{
    color: white;
}
.inline-block{
    display: inline-block;
    vertical-align: middle;
}
